* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

#intro {
    background-image: url("images/tb6.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#intro-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-text h2 {
    word-spacing: 2px;
    letter-spacing: 5px;
    margin-bottom: 3%;
}

#intro-text h4 {
    word-spacing: 4px;
    letter-spacing: 10px;
    margin-bottom: 5%;
}

#know-more-btn:hover {
    border: 1px solid aqua;
    background-color: transparent;
    color: aqua;
    box-shadow: 1px 1px 1px aqua;
}

#about-us-content {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-img {
    width: 500px;
    height: 500px;
}

#about-img img {
    width: 500px;
    height: 500px;
}

#about-text {
    width: 500px;
    height: 500px;
    align-items: center;
}

#about-text h3 {
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
}

#about-text p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

#heading {
    font-size: 28px;
    text-align: center;
}

#contact-us {
    background-image: url('images/tb8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

footer {
    margin-top: auto;
}